<script type = "text/javascript">



function dictionary_pageload() {
	requestLatestWords();
}


var xmlhttpLookup=new XMLHttpRequest();
var xmlhttpLatestWords = new XMLHttpRequest();
  
xmlhttpLookup.onreadystatechange=function()
{
 	if (xmlhttpLookup.readyState==4 )
    {
    	if (xmlhttpLookup.status==200) {
    		div_meaning = document.getElementById('id_meaning');
    		div_meaning.innerHTML = xmlhttpLookup.responseText;
    		
    		requestLatestWords();
    	}
    	else{
    		alert("request failed: " + xmlhttpLookup.responseText);
    	}
    }
    
}

xmlhttpLatestWords.onreadystatechange=function()
{
 	if (xmlhttpLatestWords.readyState==4 )
    {
    	if (xmlhttpLatestWords.status==200) {
    		var list = eval('(' + xmlhttpLatestWords.responseText + ')');
    		var ul = document.getElementById('id_ul_latest_words');
    		
    		//remove children
    		while (ul.hasChildNodes()) {
    			ul.removeChild(ul.lastChild);
    		}
    		
    		
    		for (var i=0; i<list.length; i++) {
    			var li = document.createElement('li');
    			li.innerText = list[i].word.word;
    			ul.appendChild(li);
    		}
    		
    	}
    	else{
    		alert("request failed: " + xmlhttpLatestWords.responseText);
    	}
    }
    
}

function onkeyPress(e) {
	if (e.keyCode==13) //enter
	{
		requestLookup();
	}
}
  
  
  
function requestLookup() {
  	  var word = document.getElementById('id_textbox_word').value;
  	  var url = '/dictionary/lookup?word='+word;
  	  xmlhttpLookup.open("GET",url,true);
  	  xmlhttpLookup.send()
}

function requestLatestWords() {
	var num = 20;
	var url = "/dictionary/latest_words.json?num="+num;
	xmlhttpLatestWords.open("GET",url,true);
	xmlhttpLatestWords.send();
}


</script>

<style type='text/css'>
#id_left_column {
	float:left;
	width: 400px;

}
#id_div_latest_words {
	float:right;
	width:200px;
	
}

#id_ul_latest_words {
	overflow:true;
}
</style>

<h1>dictionary</h1>

 
 <div id='id_left_column'>
 	<input id="id_textbox_word" type = 'text' onkeypress='onkeyPress(event)'> </input>
 	<input type = 'button' onclick='requestLookup()'  value='submit'> </input>
 	
 	<div id="id_meaning">
 	</div>
 </div>
 	
 <div id = "id_div_latest_words">
 	latest words:
 	<ul id="id_ul_latest_words">
 	</ul>
 </div>
 	
 
 





