
<style type='text/css'>
#id_left_column {
	float:left;
	width: 350px;

}
#id_div_latest_words {
	float:right;
	width:200px;
	
}

#id_ul_latest_words {
	overflow:true;
}

li{
	list-style-type:none;
}

.hidden {
	display:none;
}

.visible {
	display:inline;
}


</style>

<div id="id_message">It works</div>
 
 <div id='id_left_column'>
 	<input id="id_textbox_word" type = 'text' onkeypress='onkeyPress(event)'> </input>
 	<input id="id_button_submit"type = 'button' value='submit'> </input>
 	
 	
 	<div id="id_meaning">
 	</div>
 </div>
 	
 <div id = "id_div_latest_words">
 	<ul id="id_ul_latest_words">
 	</ul>
 </div>
 	
 
 

<script type = "text/javascript">
//mootools

function requestLookingUp(event) {
    //prevent the page from changing
    var word = document.getElementById('id_textbox_word').value;
  	var url = '/dictionary/lookup?word='+word;
 
    //make the ajax call
    var req = new Request({
      method: 'get',
      url: url,
      data: { },
      onRequest: function() {
      	  $('id_message').innerHTML = "Requesting..."
      },
      
      onComplete: function(response) {
      	  div_meaning = document.getElementById('id_meaning');
    	  div_meaning.innerHTML = response;
    	  $('id_message').innerHTML = "It works"
    	  requestLatestWords(null);
      },
      onFailure: function(){
         $('id_message').innerHTML = "Connection error"
      }
    }).send();
}


$('id_button_submit').addEvent('click', requestLookingUp);


function word_onMouseOver() {
	//alert("mouseover" + this.deleteIconEle.src);
	this.deleteIconEle.setAttribute("class",null);
}

function word_onMouseOut(){
	this.deleteIconEle.setAttribute("class","hidden");
}


function requestLatestWords(event) {
    //prevent the page from changing
    var num = 50;
	var url = "/dictionary/latest_words.json?num="+num;
 
    //make the ajax call
    var req = new Request({
      method: 'get',
      url: url,
      data: { },
      onRequest: function() {

      },
      
      onComplete: function(response) {
    	  
    	  var list = eval('(' + response + ')');
    		var ul = document.getElementById('id_ul_latest_words');
    		
    		//remove children
    		while (ul.hasChildNodes()) {
    			ul.removeChild(ul.lastChild);
    		}
    		
    		
    		for (var i=0; i<list.length; i++) {
    			var li = document.createElement('li');
    			var img = document.createElement("img");
    			
    			img.setAttribute("src", "/images/delete.png")
    			img.setAttribute("width",16);
    			img.setAttribute("height",16);
    			img.setAttribute("class", "hidden");
    			
    			
    			
    			li.appendChild(document.createTextNode(list[i].word.word));
    			li.appendChild(img);
    			li.deleteIconEle = img;
    			ul.appendChild(li);
    			
    			
    			li.addEventListener("mouseout",word_onMouseOut,false);
    			li.addEventListener("mouseover", word_onMouseOver, false);
    		} 
      },
      onFailure: function(){
         $('id_message').innerHTML = "Connection error"
      }
    }).send();
}
//end mootools





function dictionary_pageload() {
	requestLatestWords();
}


function onkeyPress(e) {
	if (e.keyCode==13) //enter
	{
		requestLookingUp(null);
	}
}





</script>




